.admin-card {
  background: #fff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 450px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.admin-card h3 {
  text-align: center;
  font-size: 1.3rem;
  color: #333;
}

.admin-card input {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  font-size: 1rem;
  width: 100%;
  outline: none;
  transition: border 0.3s;
}

.admin-card input:focus {
  border-color: #ff8800;
}

.admin-card button {
  padding: 10px;
  border-radius: 8px;
  background-color: #ff8800;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.admin-card button:hover {
  background-color: #ff6600;
}

@media (max-width: 600px) {
  .admin-card {
    width: 90%;
    padding: 15px;
  }
}
@media (max-width: 450px) {
  .admin-card h3 {
    font-size: 1.2rem;
  }
}